<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Del din ønskeliste</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/shareLink.css"> <!-- Tilføjet separat CSS -->
</head>
<body>
<div class="share-container">
    <h1 class="share-title">Del din ønskeliste</h1>

    <p>Del din ønskeliste "<span th:text="${wishlistName}">Min ønskeliste</span>" med venner og familie ved at sende dem dette link:</p>

    <div class="link-box">
        <p th:text="${shareableLink}">http://yourwebsite.com/shared/wishlist/123</p>
    </div>

    <p>Du kan kopiere linket ovenfor og dele det via:</p>

    <div class="social-share">
        <a th:href="@{https://www.facebook.com/sharer/sharer.php(u=${shareableLink})}" target="_blank" class="social-link">Facebook</a>
        <a th:href="@{https://twitter.com/intent/tweet(text='Se min ønskeliste!',url=${shareableLink})}" target="_blank" class="social-link twitter-link">Twitter</a>
        <a th:href="@{mailto:?subject=Se min ønskeliste!&amp;body={shareLink}(shareLink=${shareableLink})}" class="social-link email-link">Email</a>
    </div>

    <p>Når nogen besøger dette link, vil de se din ønskeliste med alle de varer, du har tilføjet. De kan markere varer som reserveret for at indikere, at de planlægger at købe dem til dig.</p>

    <a th:href="@{/wishlist}" class="back-link">← Tilbage til ønskelister</a>
</div>
</body>
</html>
